<% currently_at 'Questions' %>

<h1 class="mb-4"> Вопрос </h1>
<h1 class="mb-4"> <%= @question.title %> </h1>

<time datetime="<%= @question.formatted_created_at%>">
  <%= "Дата создания: #{@question.formatted_created_at}" %> 
  <span style="float: right"> <%= "Ответов: #{@answers.count}" %> </span>
</time>

<div class="lead my-3"> <%= sanitize @question.body%> </div> <%# sanitize разрешаем безопасные теги %>


<%= link_to 'Show', question_path(@question), class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-secondary' %>
<%= link_to 'Delete', question_path(@question), class: 'btn btn-danger', 
  data: {method: :delete, confirm: 'Are you shure?'} %>

<hr class="my-3">

<h2> Написать ответ </h2>

<%= render 'answers/form'  %>

<hr class="my-3">
<h2 class="mt-5"> Другие ответы </h2>

<%== pagy_bootstrap_nav @pagy %>

<%= render partial: 'answers/answer',
    collection: @answers, as: :answer, locals: {question: @question} %>

<%== pagy_bootstrap_nav @pagy %>
